.App {
  text-align: center;
}

.header {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputs {
  .form {
    label {
      color: white !important;
    }
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    .input {
      margin-right: 10px !important;
    }
  }
}

